@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200&display=swap");
@media (max-width: 414px) {
  * {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body {
    width: 360px !important;
  }
  body .end {
    width: 312px;
  }
  body .envato {
    width: 230px !important;
  }
  body .envato .a, body .envato .b, body .envato .c {
    display: none;
  }
  body .growthourbusiness, body .down, body .blogs, body .news, body footer {
    display: none !important;
  }
  body .workingexperts {
    font-size: 20px !important;
  }
  body .workingexperts p {
    margin-left: -30px;
  }
  body .workingexperts .expert {
    font-size: 30px !important;
    margin-left: -40px;
  }
  body .workingexperts .mancheharu {
    display: block !important;
    margin-left: -50px !important;
  }
  body .growth {
    display: block !important;
  }
  body .growth .image img {
    width: 100%;
    height: 50% !important;
    margin-left: -90px !important;
    margin-top: 40px;
  }
  body .growth .content {
    margin-left: -140px !important;
    font-size: 13px;
    width: 300px !important;
  }
  body .growth .content .circle {
    margin-left: 100px;
  }
  body .growth .content .dot {
    margin-left: 90px !important;
  }
  body .growth .content .circle2, body .growth .content .dot2 {
    margin-top: 50px !important;
    margin-left: 100px !important;
  }
  body .awards {
    display: none;
  }
  body .third-page .contents {
    margin-left: -500px !important;
    margin-top: 200px;
    color: white;
    font-style: italic;
  }
  body .third-page .contents progress {
    display: none;
  }
  body .third-page .imagessss .imgb img {
    margin-left: 50px !important;
  }
  body .third-page .imagessss .imga img {
    margin-left: 10px !important;
    width: 60% !important;
  }
  body .second-page .top-content {
    margin-top: -10px;
  }
  body .second-page .container .row {
    margin-left: 9px;
  }
  body .second-page .container .row .col-2 {
    width: 100px;
    border: 1px solid;
    padding-bottom: 10px;
    font-size: 10px;
    margin-left: -10px;
  }
  body .second-page .container .row .col-2 img {
    width: 100%;
  }
  body .second-page .container .row .col-2 p {
    display: none;
  }
  body header .bottomdesign img {
    width: 360px !important;
    margin-top: 198px;
  }
  body header .line {
    display: none;
  }
  body header .carousel img {
    width: 360px !important;
    height: 300px !important;
    margin-top: 126px;
  }
  body header .navbar {
    background-color: black;
    width: 363px;
    height: 130px;
  }
  body header .navbar .image img {
    margin-left: 0px !important;
    margin-top: 20px;
  }
  body header .navbar .menu ul {
    padding-top: 20px;
    padding-left: 60px;
  }
  body header .navbar .menu ul li .about {
    font-size: 12px;
  }
  body header .navbar .menu ul li .services {
    font-size: 12px;
  }
  body header .navbar .menu ul li .pages {
    font-size: 12px;
  }
  body header .navbar .menu ul li .blog {
    font-size: 12px;
    display: none;
  }
  body header .navbar .menu ul li .contact {
    font-size: 12px;
    display: none;
  }
  body header .navbar .menu ul li .home {
    margin-left: -60px;
    font-size: 12px;
  }
  body header .navbar .menu .underline {
    display: none;
  }
  body header .navbar .logos {
    display: none !important;
  }
  body header .navbar .quote {
    display: none;
  }
}

body {
  font-family: 'Jost', sans-serif;
}

body .main a {
  text-decoration: none;
  background-color: red;
  color: white;
  width: 30px;
  position: fixed;
  z-index: 6;
  margin-top: 500px;
  margin-left: 1220px;
  display: none;
}

body .end {
  background-color: black;
  color: white;
  text-align: center;
}

body footer {
  padding-top: 100px;
  background-color: #222429;
  color: #d1d1d1;
  font-size: 10px;
  font-weight: bolder;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body footer .contactus {
  padding-left: 50px;
}

body footer .contactus h5 {
  font-weight: bolder;
}

body footer .contactus span {
  color: #ff4040;
}

body footer .contactus span:hover {
  color: white;
}

body footer .case {
  padding-left: 20px;
  padding-top: 30px;
}

body footer .case ul li {
  list-style: none;
  padding-top: 20px;
}

body footer .explore {
  padding-left: 20px;
}

body footer .explore ul li {
  list-style: none;
  padding-top: 20px;
}

body footer .explore h5 {
  font-weight: bolder;
}

body footer .bixos .box {
  background: #2f3136;
  color: white;
  border: none;
  width: 200px;
  height: 30px;
  font-size: 12px;
  font-weight: bold;
}

body footer .bixos button {
  background-color: #ff4040;
  border: none;
  color: white;
  height: 30px;
  margin-left: -25px;
}

body footer .bixos hr {
  color: white;
  margin-top: -10px;
  width: 300px;
}

body .envato {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

body .envato .a, body .envato .b, body .envato .c, body .envato .d, body .envato .e {
  border-top: 1px solid gray;
  line-height: 90px;
}

body .envato .a:hover, body .envato .b:hover, body .envato .c:hover, body .envato .d:hover, body .envato .e:hover {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  cursor: pointer;
}

body .news {
  margin-top: 120px;
}

body .news .blogs button {
  background-color: black;
  color: white;
  font-size: 12px;
  padding: 10px;
  margin-top: 50px;
  margin-left: 600px;
  border: none;
  border-radius: 20px;
}

body .news .blogs button:hover {
  background-color: #ff4040;
  color: white;
}

body .news .row .col-3 .readmore:hover {
  color: #ff4040;
  cursor: pointer;
}

body .news .row .col-3 .text {
  border-bottom: 1px solid wheat;
}

body .news .row .col-3 .text:hover {
  color: #ff4040;
  cursor: pointer;
}

body .news .row .col-3 .date span:hover {
  background-color: #ff4040 !important;
  cursor: pointer;
  color: white;
}

body .news .row .col-3 .fa {
  color: #ff4040;
}

body .news p {
  text-align: center;
}

body .down .container .row {
  margin-top: 100px;
}

body .down .container .row .x {
  border: 10px solid green;
  position: absolute;
  margin-left: 130px;
  margin-top: 30px;
  border-bottom: none;
  border-right: none;
  border-top-right-radius: 70%;
  border-bottom-left-radius: 70%;
}

body .down .container .row .y img {
  margin-left: 500px;
}

body .growthourbusiness {
  background: url(https://surielementor.com/bixoshtml/assets/images/background-section/bg-and.jpg);
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .growthourbusiness .leftcontent {
  margin-top: 90px;
}

body .growthourbusiness .rightcontent {
  margin-top: 190px;
  margin-left: 50px;
  font-size: 20px;
}

body .workingexperts {
  margin-top: 100px;
  font-weight: bold;
  text-align: center;
}

body .workingexperts .mancheharu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .workingexperts .mancheharu .one center:hover {
  color: #ff4040;
  cursor: pointer;
}

body .workingexperts .mancheharu .one img {
  width: 200px;
}

body .workingexperts .mancheharu .two {
  padding-left: 20px;
}

body .workingexperts .mancheharu .two center:hover {
  color: #ff4040;
  cursor: pointer;
}

body .workingexperts .mancheharu .two img {
  width: 200px;
}

body .workingexperts .mancheharu .three {
  padding-left: 20px;
}

body .workingexperts .mancheharu .three center:hover {
  color: #ff4040;
  cursor: pointer;
}

body .workingexperts .mancheharu .three img {
  width: 200px;
}

body .workingexperts .mancheharu .four {
  padding-left: 20px;
}

body .workingexperts .mancheharu .four center:hover {
  color: #ff4040;
  cursor: pointer;
}

body .workingexperts .mancheharu .four img {
  width: 200px;
}

body .workingexperts .expert {
  font-size: 30px;
}

body .growth {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: large;
  font-weight: bold;
  margin-left: 150px;
}

body .growth .image img {
  height: 400px;
  margin-left: 50px;
}

body .growth .content {
  text-align: justify;
}

body .growth .content .dot, body .growth .content .dot2 {
  width: 50px;
  height: 50px;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  background-color: white;
  margin-left: 10px;
  position: absolute;
}

body .growth .content .dot2 {
  margin-left: 200px;
  margin-top: -140px;
}

body .growth .content .circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #ff4040;
}

body .growth .content .circle .ninety {
  background-color: #ff4040;
  width: 40px;
  border-radius: 5px;
  padding: 2px;
  color: white;
  margin-left: 50px;
  margin-top: -130px;
}

body .growth .content .circle2 {
  width: 150px;
  height: 150px;
  margin-left: 200px;
  margin-top: -152px;
  border-radius: 50%;
  border: 2px solid #ff4040;
}

body .growth .content .circle2 .ninety {
  background-color: #ff4040;
  width: 40px;
  border-radius: 5px;
  padding: 2px;
  color: white;
  margin-left: 50px;
  margin-top: -130px;
}

body .container-fluid {
  margin-left: -50px;
  margin-top: -10px;
  position: relative;
}

body .container-fluid .row .col center {
  background-color: #f6f6f6;
}

body .container-fluid .row .col center:hover {
  background-color: #ff4040;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

body .container-fluid .row .col img {
  height: 150px;
  width: 190px;
  border-radius: 40px;
}

body .awards {
  color: white;
}

body .awards .down {
  color: white;
  margin-top: 130px;
  position: relative;
  text-align: center;
}

body .awards .content {
  z-index: 5;
  color: white;
}

body .awards img {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  height: 500px;
}

body .awards .yess {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  margin-top: -500px;
}

body .awards .yess .d {
  margin-top: 100px;
  z-index: 5;
}

body .awards .yess .d p {
  margin-top: 60px;
  margin-left: 70px;
}

body .awards .yess .d sup .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: -100px;
  margin-left: 170px;
  background-color: red;
}

body .awards .yess .d span {
  font-size: 80px;
  font-weight: bold;
  margin-left: 50px;
}

body .awards .yess .c {
  margin-top: 100px;
  z-index: 5;
}

body .awards .yess .c p {
  margin-top: 60px;
  margin-left: 110px;
}

body .awards .yess .c sup .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: -100px;
  margin-left: 160px;
  background-color: red;
}

body .awards .yess .c span {
  font-size: 80px;
  font-weight: bold;
  margin-left: 50px;
}

body .awards .yess .b {
  z-index: 5;
  margin-top: 100px;
}

body .awards .yess .b p {
  margin-top: 60px;
  margin-left: 110px;
}

body .awards .yess .b sup .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: -100px;
  margin-left: 230px;
  background-color: red;
}

body .awards .yess .b span {
  font-size: 80px;
  font-weight: bold;
  margin-left: 50px;
}

body .awards .yess .a {
  margin-top: 100px;
  z-index: 5;
}

body .awards .yess .a p {
  margin-top: 60px;
  margin-left: 30px;
}

body .awards .yess .a sup .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: -100px;
  margin-left: 150px;
  background-color: red;
}

body .awards .yess .a span {
  font-size: 80px;
  font-weight: bold;
}

body .third-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .third-page .contents {
  margin-top: 100px;
  margin-left: -190px;
}

body .third-page .contents #meter {
  width: 300px;
  height: 5px;
}

body .third-page .imagessss .experience img {
  width: 100px;
  margin-left: 450px;
  margin-top: -330px;
}

body .third-page .imagessss .imga img {
  z-index: 3;
  margin-top: 80px;
  height: 400px;
  margin-left: 190px;
  border-radius: 10px;
  width: 300px;
}

body .third-page .imagessss .imgb img {
  z-index: 3;
  margin-top: -100px;
  height: 160px;
  margin-left: 250px;
}

body .third-page .imagessss .imgc img {
  margin-top: -900px;
  -webkit-animation-name: abc;
          animation-name: abc;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes abc {
  0% {
    margin-top: -900px;
  }
  50% {
    margin-top: -800px;
  }
}

@keyframes abc {
  0% {
    margin-top: -900px;
  }
  50% {
    margin-top: -800px;
  }
}

body .second-page {
  background: #f6f6f6;
  padding-bottom: 30px;
}

body .second-page .circle {
  width: 200px;
  height: 450px;
  background-color: none;
  position: absolute;
  margin-left: 140px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body .second-page .circle2 {
  width: 50px;
  height: 50px;
  background-color: white;
  position: absolute;
  margin-left: 530px;
  border-top-right-radius: 200px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body .circle3 {
  width: 50px;
  height: 50px;
  background-color: red;
  position: absolute;
  margin-left: 770px;
  border-top-right-radius: 200px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body .circle4 {
  width: 50px;
  height: 50px;
  background-color: red;
  position: absolute;
  margin-left: 1010px;
  border-top-right-radius: 200px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body .row {
  margin-left: 100px;
  margin-top: 20px;
}

body .row .col-2 {
  background: white;
  width: 200px;
  margin-left: 40px;
}

body .row .col-2 span {
  font-weight: bold;
  font-size: large;
}

body .row .col-2 span:hover {
  color: #ff4040;
}

body .row .col-2 p .arrow:hover {
  color: #ff4040;
  cursor: pointer;
}

body .top-content {
  padding-top: 100px;
}

body header .underline {
  height: 2px;
  margin-left: 72px;
  position: relative;
  top: 59px;
  background-color: red;
  width: 40px;
}

body header .btn1 svg {
  margin-top: 20px;
}

body header .bottomdesign {
  position: absolute;
  top: 40px;
  z-index: 3;
}

body header .quote button {
  border: none;
  margin-left: 40px;
  width: 120px;
  padding: 10px;
  background: #ff4040;
  color: white;
  font-weight: bold;
  font-size: small;
  border-radius: 10px;
}

body header .quote button:hover {
  background-color: white;
  color: #ff4040;
  -webkit-transition: 0.9s ease-in;
  transition: 0.9s ease-in;
}

body header .call {
  color: white;
  font-weight: bold;
}

body header .call .p {
  margin-left: 80px;
}

body header .call .p:hover {
  color: #ff4040;
}

body header .navbar {
  position: absolute;
  z-index: 4;
  border-bottom: 1px solid gray;
}

body header .navbar .logos {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 200px;
}

body header .navbar .logos .fb {
  margin-left: 5px;
}

body header .navbar .logos .fb:hover {
  color: #ff4040;
}

body header .navbar .logos .insta {
  padding-left: 16px;
}

body header .navbar .logos .insta:hover {
  color: #ff4040;
}

body header .navbar .logos .twitter {
  padding-left: 16px;
}

body header .navbar .logos .twitter:hover {
  color: #ff4040;
}

body header .menu {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

body header .menu ul {
  list-style: none;
  margin-left: 30px;
  z-index: 3;
  margin-top: 10px;
}

body header .menu ul li {
  display: inline;
}

body header .menu ul a {
  padding: 10px;
  font-size: small;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

body header .menu ul .home {
  color: red;
}

body .line img {
  position: absolute;
  z-index: 2;
  margin-top: -50px;
  margin-left: -80px;
}

body .carousel-caption .content {
  display: none;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  -webkit-animation-name: aa;
          animation-name: aa;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes aa {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 10px;
  }
}

@keyframes aa {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 10px;
  }
}

body .carousel-caption .content h1 {
  font-weight: 700;
  position: absolute;
  top: -400px;
  left: 100px;
}

body .carousel-caption .content p {
  position: absolute;
  top: -260px;
  left: 100px;
}

body .carousel-caption .content button {
  position: absolute;
  top: -160px;
  left: 100px;
  border: none;
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 30px;
  color: white;
  background: #ff4040;
  font-size: smaller;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
}

body .carousel-caption .content button:hover {
  color: #ff4040;
  background-color: white;
}
/*# sourceMappingURL=style.css.map */